$gray: #dbdbdb;
$turquoise : rgba(255, 56, 96, 0.58);
$blue : #29d ;
$pink : #ea4c89;
$white : white;

$borderColor: #F7F7F7;
$articleContent: #7f8c8d;
$articleTitle: #2c3e50;
$childTitle: #555;
$menuIcon: #337ab7;
$menuBg: #3091f2;
$menuAction: #2d3f4d;
$footerBg: #f5f5f5;
$userInfoBg: #fafafa;
$codeBg: #1d2b35;

$navTextColor: #eee;
